@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@font-face {
	font-family:'ProximaNova';
	src:url('https://cdn1.alegra.com/fonts/nova_cocut/ProximaNova-Semibold.otf');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'ProximaNovaLight';
	src:url('https://cdn1.alegra.com/fonts/nova_cocut/ProximaNova-Light.otf');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'ProximaNovaRegular';
	src:url('https://cdn1.alegra.com/fonts/nova_cocut/ProximaNova-Regular.otf');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'ProximaNovaBold';
	src:url('https://cdn1.alegra.com/fonts/nova_cocut/ProximaNova-Bold.otf');
	font-weight:normal;
	font-style:normal
}

body {
    padding-top: 90px;
    padding-bottom: 40px;
    background: white !important;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

nav.navbar {
  background: white;
  border: none;
  padding: 15px 0;
}

.section-wrapper .header {
	background:#f3f3f3;
	border-radius:8px;
	margin-bottom:21px;
	padding-left:11px;
	position:relative;
	overflow:hidden;
}
.resolution-header .title {
	float:left
}
.resolution-header dic {
	position:relative
}
.section-wrapper .header .title {
	float:left
}
.section-wrapper .header h1.title {
	color:#1a5e53;
	font-size:23px;
	font-weight:normal;
	line-height:32px;
  background: url(https://cdn1.alegra.com/images/index-icon.png) no-repeat 0 2px;
  height: 38px;
  padding-left: 50px;  
}
.section-wrapper .header .actions,.resolution-header .actions {
	float:left;
	margin-left:43px
}